<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="triangle" class ="org.siddharth.learningjava.Triangle">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB">
			<bean id="point2" class="org.siddharth.learningjava.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>	
		</property>
		<property name="pointC">
			<bean id="point3" class="org.siddharth.learningjava.Point">
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>
		</property>
	</bean>
	
	<bean id="zeroPoint" class="org.siddharth.learningjava.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	
	<alias name="triangle" alias="triangle-alias"/>
	
	
	
	
</beans>
